input[type='range']::-webkit-slider-thumb {
    background-image: url('../../assets/images/icon-slider.svg');
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center;
}
